.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-custom {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1.5px solid var(--m3-on-surface);
  border-radius: 2px;
  background-color: var(--gray-white);
  transition: all var(--transition-fast);
  flex-shrink: 0;
}

.checkbox-custom::after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid var(--gray-white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-input:checked + .checkbox-custom {
  background-color: var(--primary-blue-500);
  border-color: var(--primary-blue-500);
}

.checkbox-input:checked + .checkbox-custom::after {
  display: block;
}

.checkbox-input:focus-visible + .checkbox-custom {
  outline: 2px solid var(--primary-blue-500);
  outline-offset: 2px;
}

.checkbox-label {
  color: var(--gray-900);
  cursor: pointer;
}

.checkbox-wrapper:hover .checkbox-custom {
  border-color: var(--primary-blue-500);
}

.checkbox-wrapper--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox-wrapper--disabled .checkbox-custom {
  background-color: var(--gray-100);
  border-color: var(--gray-300);
}

.checkbox-wrapper--disabled .checkbox-label {
  color: var(--gray-400);
}